 .App {
   /* margin: 5vh; */
   /* background-color: rgb(99, 99, 99); */
   background-color: #EFEFEF;
   height: 100vh;
   display: flex;
   /* border-radius: 20px; */
 }

 .dark-bg {
   /* background-color: rgb(120, 120, 120); */
   background-color: rgb(99, 99, 99);
 }
 @media only screen and (max-width: 40em) {
  .App
  {
    width: 100vw;
    height: 100vh;
  }
 }